* {
    padding: 0;
    margin: 0;
}
.header{
    background: url(./Header.png) no-repeat;
    background-size: cover;
    width: 100%;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left {
    display: flex;
    justify-content: start;
}
.right{
    display: flex;
    justify-content: end;
}
.header-items {
    max-width: 131px;
    max-height: 100px;
    width: 100%;
    height: auto;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    line-height: 18px;
    text-transform: uppercase;
    margin: 25px 25px;
    cursor: pointer;
    transition: 0.3s;
}
.header-items:hover{
    color: #E8C300;
}
.info{
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
.timetable{
    height: 700px;
    width: 60px;
    display: flex;
    font-weight: bold;
    font-size: 12px;
    align-items: center;
    justify-content: space-around;
    line-height: 12px;
    
}
.timetable-text{
    position: absolute;
    transform: rotate(-90deg);
}
.name{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    max-width: 1180px;
}
.name-h1{
    font-size: 96px;
    color: white;
    text-transform: uppercase;
}
.border{
    width: 60px;
    height: 5px;
    background: #E8C300;
    border-radius: 50px;
    
}
.social{
    display: flex;
    flex-direction: column;
}
.button{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
}
.btn{
    width: 200px;
    height: 60px;
    border: 2px solid #fff;
    background-color: transparent;
    text-align: center;
    font-size: 12px;
    
}