* {
    padding: 0;
    margin: 0;
}
.header{
    background: url(./Header.png) no-repeat;
    background-size: cover;
    width: 100%;
    max-height: 800px;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left {
    display: flex;
    justify-content: start;
}
.right{
    display: flex;
    justify-content: end;
}
.header-items {
    max-width: 131px;
    max-height: 100px;
    width: 100%;
    height: auto;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    line-height: 18px;
    text-transform: uppercase;
    margin: 25px 25px;
    cursor: pointer;
    transition: 0.3s;
}
.header-items:hover{
    color: #E8C300;
}
.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
.timetable{
    height: 550px;
    width: 60px;
    display: flex;
    font-weight: bold;
    font-size: 12px;
    align-items: center;
    justify-content: space-around;
    line-height: 12px;
    
}
.timetable-text{
    position: absolute;
    transform: rotate(-90deg);
}
.name{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    max-width: 1180px;
}
.name-h1{
    font-size: 96px;
    color: white;
    text-transform: uppercase;
}
.border{
    margin-top: 25px;
    margin-bottom: 50px;
    width: 60px;
    height: 5px;
    background: #E8C300;
    border-radius: 50px;
    
}
.social{
    display: flex;
    flex-direction: column;
    height: 220px;
    justify-content: space-between;
}
.button{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 450px;

}
.btn{
    width: 200px;
    border: 2px solid #fff;
    background-color: transparent;
    text-align: center;
    font-size: 12px;
    padding-top: 24px;
    padding-bottom: 24px;
    border-radius: 5px;
    transition: 0.3s;
}
.btn:hover{
    background-color: #E8C300;
    border: 2px solid transparent;
    cursor: pointer;
}
.down{
    width: 60px;
    height: 60px;
    background-image: url(./down-btn.png);
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    background-repeat: no-repeat;
}
.about__content{
    margin: 100px 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.about__content--text{

    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading{
    font-size: 36px;
    line-height: 48px;
    text-transform: uppercase;
    margin-bottom: -20px;
}
.strong{
    line-height: 28px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    max-width: 500px;
}
.usual{
    line-height: 24px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    max-width: 500px;   
}